{% block content %}


{% if user.is_authenticated %}
<aside class="d-md-flex shadow-lg flex-column flex-shrink-0 w-100 h-100 bg-light-subtle px-0">
    <div class="p-3 mb-auto">
        <h3><a href="" class="text-decoration-none text-body">Auditorias</a></h3>
        <hr class="">
        <ul class="nav nav-pills flex-column gap-2">
            {% if active == "Home" %}
            <li class="nav-item bg-primary active rounded">
                <a href="{% url 'home' %}" class="nav-link active d-flex align-items-center flex-row fw-normal"
                    aria-current="home">
                    {% else %}
            <li class="nav-item rounded">
                <a href="{% url 'home' %}" class="nav-link text-body d-flex align-items-center flex-row fw-normal"
                    aria-current="home">
                    {% endif %}
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M6 22.8787C4.34315 22.8787 3 21.5355 3 19.8787V9.87866C3 9.84477 3.00169 9.81126 3.00498 9.77823H3C3 9.20227 3.2288 8.64989 3.63607 8.24262L9.87868 2.00002C11.0502 0.828445 12.9497 0.828445 14.1213 2.00002L20.3639 8.24264C20.7712 8.6499 21 9.20227 21 9.77823H20.995C20.9983 9.81126 21 9.84477 21 9.87866V19.8787C21 21.5355 19.6569 22.8787 18 22.8787H6ZM12.7071 3.41423L19 9.70713V19.8787C19 20.4309 18.5523 20.8787 18 20.8787H15V15.8787C15 14.2218 13.6569 12.8787 12 12.8787C10.3431 12.8787 9 14.2218 9 15.8787V20.8787H6C5.44772 20.8787 5 20.4309 5 19.8787V9.7072L11.2929 3.41423C11.6834 3.02371 12.3166 3.02371 12.7071 3.41423Z"
                            fill="currentColor" />
                    </svg>
                    <span style="margin-left: 1rem;">Home</span>
                </a>
            </li>

            {% if active == "Dashboard" %}
            <li class="nav-item bg-primary active rounded">
                <a href="{% url 'dashboard' %}" class="nav-link active d-flex align-items-center flex-row fw-normal"
                    aria-current="dashboard">
                    {% else %}
            <li class="nav-item rounded">
                <a href="{% url 'dashboard' %}" class="nav-link text-body d-flex align-items-center flex-row fw-normal"
                    aria-current="dashboard">
                    {% endif %}
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M22.775 8C22.9242 8.65461 23 9.32542 23 10H14V1C14.6746 1 15.3454 1.07584 16 1.22504C16.4923 1.33724 16.9754 1.49094 17.4442 1.68508C18.5361 2.13738 19.5282 2.80031 20.364 3.63604C21.1997 4.47177 21.8626 5.46392 22.3149 6.55585C22.5091 7.02455 22.6628 7.5077 22.775 8ZM20.7082 8C20.6397 7.77018 20.5593 7.54361 20.4672 7.32122C20.1154 6.47194 19.5998 5.70026 18.9497 5.05025C18.2997 4.40024 17.5281 3.88463 16.6788 3.53284C16.4564 3.44073 16.2298 3.36031 16 3.2918V8H20.7082Z"
                            fill="currentColor" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M1 14C1 9.02944 5.02944 5 10 5C10.6746 5 11.3454 5.07584 12 5.22504V12H18.775C18.9242 12.6546 19 13.3254 19 14C19 18.9706 14.9706 23 10 23C5.02944 23 1 18.9706 1 14ZM16.8035 14H10V7.19648C6.24252 7.19648 3.19648 10.2425 3.19648 14C3.19648 17.7575 6.24252 20.8035 10 20.8035C13.7575 20.8035 16.8035 17.7575 16.8035 14Z"
                            fill="currentColor" />
                    </svg>
                    <span style="margin-left: 1rem;"> Dashboard</span>
                </a>
            </li>

            {% if active == "Notifications" %}
            <li class="nav-item bg-primary active rounded">
                <a href="{% url 'notifications' %}" class="nav-link active d-flex align-items-center flex-row fw-normal"
                    aria-current="notifications">
                    {% else %}
            <li class="nav-item rounded">
                <a href="{% url 'notifications' %}"
                    class="nav-link text-body d-flex align-items-center flex-row fw-normal"
                    aria-current="notifications">
                    {% endif %}
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M14 3V3.28988C16.8915 4.15043 19 6.82898 19 10V17H20V19H4V17H5V10C5 6.82898 7.10851 4.15043 10 3.28988V3C10 1.89543 10.8954 1 12 1C13.1046 1 14 1.89543 14 3ZM7 17H17V10C17 7.23858 14.7614 5 12 5C9.23858 5 7 7.23858 7 10V17ZM14 21V20H10V21C10 22.1046 10.8954 23 12 23C13.1046 23 14 22.1046 14 21Z"
                            fill="currentColor" />
                    </svg>

                    <span class="" style="margin-left: 1rem;">Notifications</span>
                </a>
            </li>

            {% if active == "Auditorias" %}
            <li class="nav-item bg-primary active rounded">
                <a href="{% url 'auditorias_asignadas' %}" class="nav-link active d-flex align-items-center flex-row fw-normal"
                    aria-current="auditorias">
                    {% else %}
            <li class="nav-item rounded">
                <a href="{% url 'auditorias_asignadas' %}" class="nav-link text-body d-flex align-items-center flex-row fw-normal"
                    aria-current="auditorias">
                    {% endif %}
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 18H17V16H7V18Z" fill="currentColor" />
                        <path d="M17 14H7V12H17V14Z" fill="currentColor" />
                        <path d="M7 10H11V8H7V10Z" fill="currentColor" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M6 2C4.34315 2 3 3.34315 3 5V19C3 20.6569 4.34315 22 6 22H18C19.6569 22 21 20.6569 21 19V9C21 5.13401 17.866 2 14 2H6ZM6 4H13V9H19V19C19 19.5523 18.5523 20 18 20H6C5.44772 20 5 19.5523 5 19V5C5 4.44772 5.44772 4 6 4ZM15 4.10002C16.6113 4.4271 17.9413 5.52906 18.584 7H15V4.10002Z"
                            fill="currentColor" />
                    </svg>

                    <span class="" style="margin-left: 1rem;">Auditorias</span>
                </a>
            </li>

            {% if user.role == "jefe_auditoria" or user.is_staff %}
            {% if active == "Gestionar" %}
            <li class="nav-item bg-primary active rounded">
                <a href="{% url 'gestionar_auditores' %}" class="nav-link active d-flex align-items-center flex-row fw-normal"
                    aria-current="auditorias">
                    {% else %}
            <li class="nav-item rounded">
                <a href="{% url 'gestionar_auditores' %}" class="nav-link text-body d-flex align-items-center flex-row fw-normal"
                    aria-current="auditorias">
                    {% endif %}
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 18H17V16H7V18Z" fill="currentColor" />
                        <path d="M17 14H7V12H17V14Z" fill="currentColor" />
                        <path d="M7 10H11V8H7V10Z" fill="currentColor" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M6 2C4.34315 2 3 3.34315 3 5V19C3 20.6569 4.34315 22 6 22H18C19.6569 22 21 20.6569 21 19V9C21 5.13401 17.866 2 14 2H6ZM6 4H13V9H19V19C19 19.5523 18.5523 20 18 20H6C5.44772 20 5 19.5523 5 19V5C5 4.44772 5.44772 4 6 4ZM15 4.10002C16.6113 4.4271 17.9413 5.52906 18.584 7H15V4.10002Z"
                            fill="currentColor" />
                    </svg>

                    <span class="" style="margin-left: 1rem;">Gestionar Auditores</span>
                </a>
            </li>
            {% endif %}

        </ul>
    </div>
    <hr class="mb-0">
    <div class="dropdown w-100 d-flex justify-content-center align-items-center py-3 bg-gray-aside-user">
        <button class="d-flex border-0 bg-transparent align-items-center link-body-emphasis text-decoration-none dropdown-toggle gap-2"
            data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
            </svg>
            <strong>{{ user.username }}</strong>
        </button>
        <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li> <a class="dropdown-item" href="{% url 'user' %}">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
        </ul>
    </div>
</aside>
{% endif %}

{% endblock %}