{% extends "users/base.html" %}

{% block title %}
Audita Auditores - {{ user.username }}
{% endblock %}

{% block main_content %}

<main class="d-flex flex-column p-5">
  {% if user.is_authenticated %}
  <section class="container">
    <div class="container-fluid d-flex flex-column justify-content-center">
      <h1 class="text-center mb-5">User Data</h1>
      <ol class="list-group fs-5">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Username: {{ user.username }}
          {% with edit_field=field_data.text %}
          {% include "users/editModal/_modal.html" with modal_id="username" modal_value=user.username user_id=user.id %}
          {% include "users/editModal/_button.html" with modal_id="username" modal_value=user.username %}
          {% endwith %}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          First Name: {{ user.first_name }}
          {% with edit_field=field_data.text %}

          {% include "users/editModal/_modal.html" with modal_id="first_name" modal_value=user.first_name user_id=user.id %}
          {% include "users/editModal/_button.html" with modal_id="first_name" modal_value=user.first_name %}
          {% endwith %}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Last Name: {{ user.last_name }}
          {% with edit_field=field_data.text %}
          {% include "users/editModal/_modal.html" with modal_id="last_name" modal_value=user.last_name user_id=user.id %}
          {% include "users/editModal/_button.html" with modal_id="last_name" modal_value=user.last_name %}
          {% endwith %}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Email: {{ user.email }}
          {% with edit_field=field_data.text %}
          {% include "users/editModal/_modal.html" with modal_id="email" modal_value=user.email user_id=user.id %}
          {% include "users/editModal/_button.html" with modal_id="email" modal_value=user.email %}
          {% endwith %}
        </li>
      </ol>

    </div>
  </section>
  <footer class="container mt-auto d-flex justify-content-evenly">
    <button class="px-3 py-2 btn btn-danger">
      <a class="fs-4 text-white" href="{% url 'logout' %}">Log Out</a>
    </button>
    {% if user.is_staff %}
    <button class="px-3 py-2 btn btn-primary">
      <a class="fs-4 text-white" href="/admin/">Admin Panel</a>
    </button>
    {% endif %}
  </footer>

  {% else %}
  <h1>Please login</h1>
  <a href="{% url 'login' %}">Login</a>
  {% endif %}
</main>


{% endblock %}