
body[data-bs-theme="ligth"]{
    background-color: #f0f0f0 !important
}
body[data-bs-theme="dark"]{
    background-color: rgb( 33, 37, 41) !important
}

.max-h-screen{
    max-height: 100vh !important;
}

.max-h-100{
    max-height: 100%;
}

.overflow-hidden{
    overflow: hidden;
}

.min-h-screen{
    min-height: 100vh;
}

.min-h-100{
    min-height: 100%;
}

.w-1{
    width: .75rem;
}

.h-1{
    height:.75rem;
}

.ml-auto{
    margin-left: auto;
}

.mr-5{
    margin-right: .75rem;
}