{% extends "index.html" %} {% block content %}

<main class="flex flex-col flex-grow-1">
  <section class="container-fluid p-3 h-100">
    <div class="d-flex justify-content-center align-items-center h-100 w-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-4">
        <div class="card-body border border-white rounded p-3">
          <h2 class="text-center mb-5">Edit User Data</h2>
          {{full_error}}
          <form class="" action="{% url 'edit_user' %}" method="POST">
            {% csrf_token %}
            <!--Edit inputs are conditionals-->

            <!--UserName-->
            {% if field == "username" %}
            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="form3Example1cg">User Name</label>
              <input
                type="text"
                name="username"
                value="{{user.username}}"
                class="form-control"
                required
              />
              {% if error %}
              <p class="text-danger">{{error}}</p>
              {% endif %}
            </div>
            {% endif %}

            <!--First Name-->

            {% if field == "first_name" %}

            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="form3Example1cg">First Name</label>
              <input
                type="text"
                name="first_name"
                value="{{user.first_name}}"
                class="form-control"
                required
              />
              {% if error %}
              <p class="text-danger">{{error}}</p>
              {% endif %}
            </div>
            {% endif %}

            <!--Last Name-->

            {% if field == "last_name" %}

            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="form3Example1cg">Last Name</label>
              <input
                type="text"
                name="last_name"
                value="{{user.last_name}}"
                class="form-control"
                required
              />
              {% if error %}
              <p class="text-danger">{{error}}</p>
              {% endif %}
            </div>
            {% endif %}

            <!--Email-->

            {% if field == "email" %}

            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="form3Example3cg">Your Email</label>
              <input
                type="email"
                name="email"
                value="{{user.email}}"
                class="form-control"
                required
              />
              {% if error %}
              <p class="text-danger">{{error}}</p>
              {% endif %}
            </div>
            {% endif %}

            <input type="hidden" name="user" value="{{user}}" />
            <input type="hidden" name="field" value="{{field}}" />

            <div class="d-flex justify-content-center">
              <button
                type="submit"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
              >
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
