{% extends "index.html" %} {% block content %}

<main class="flex flex-col flex-grow-1">
  <section class="container-fluid p-3 h-100">
    <div class="d-flex justify-content-center align-items-center h-100 w-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-4">
        <div class="card-body border border-white rounded p-3">
          <h2 class="text-center mb-5">Create an account</h2>
          {{full_error}}
          <form class="" action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="form3Example1cg">User Name</label>
              <input
                type="text"
                name="username"
                id="form3Example1cg"
                class="form-control"
                required
              />
              {% if username_error %}
              <p class="text-danger">{{username_error}}</p>
              {% endif %}
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="form3Example1cg">First Name</label>
              <input
                type="text"
                name="first_name"
                id="form3Example1cg"
                class="form-control"
                required
              />
              {% if first_name_error %}
              <p class="text-danger">{{first_name_error}}</p>
              {% endif %}
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="form3Example1cg">Last Name</label>
              <input
                type="text"
                name="last_name"
                id="form3Example1cg"
                class="form-control"
                required
              />
              {% if last_name_error %}
              <p class="text-danger">{{last_name_error}}</p>
              {% endif %}
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="form3Example3cg">Your Email</label>
              <input
                type="email"
                name="email"
                id="form3Example3cg"
                class="form-control"
                required
              />
              {% if email_error %}
              <p class="text-danger">{{email_error}}</p>
              {% endif %}
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="form3Example4cg">Password</label>
              <input
                type="password"
                name="password_1"
                id="form3Example4cg"
                class="form-control"
                required
              />
              {% if password_error %}
              <p class="text-danger">{{password_error}}</p>
              {% endif %}
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="form3Example4cdg"
                >Repeat your password</label
              >
              <input
                type="password"
                name="password_2"
                id="form3Example4cdg"
                class="form-control"
                required
              />
              {% if passwords_error %}
              <p class="text-danger">{{passwords_error}}</p>
              {% endif %}
            </div>

            <div class="d-flex justify-content-center">
              <button
                type="submit"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
              >
                Register
              </button>
            </div>

            <p class="text-center text-muted mt-5 mb-0">
              Have already an account?
              <a href="{% url 'login' %}" class="fw-bold text-body"
                ><u>Login here</u></a
              >
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
